@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  @apply border p-2 w-full rounded;
}

.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded;
}

.card {
  @apply border rounded p-4 shadow-sm;
}

.table {
  @apply w-full border;
}

.table th,
.table td {
  @apply border p-2;
}
